<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    A simple project to try out Ember. Full tutorial available at https://guides.emberjs.com
  </p>
  <p>
    The concepts applied are Routing, Templates, Adapters, Helpers (Component / Hash), Components, Mirage, DataStore, Ember Data, JSON API, Ember Inflector Rules, Acceptance Test, ES2015 (former ES6), Controllers, Map Integration, Ember Concurrency, Integration Test, Wait Helper, RSVP(resolve promise), Ember Observer, Service, Injections, Unit Test (this.on), Nested Routes,  You will also learn about Node along the way.
  </p>
  <p>
    For source check <a href="https://github.com/jupiterhub/super-rentals">jupiterhub/super-rentals</a> or their public repo 
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}  
</div>